.c{
    text-align: center;
    padding-top: 2rem;
  }
  
  .v{
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      font-size: initial;
  }