.FootLogo{
  text-align: center;
  padding-top: 2rem;
}

.T{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: initial;
}
@media  (min-width:600px) and (max-width:1000px){
  .T{
      font-size: 14px;
  }
}


@media (max-width:600px){

.T{
  font-size: 11px;
}

}